In [1]:
from src.main.models.logistic import Logistic
from src.main.utilities.utils import clean_text, stop_words_removal, stemming, tfidf_vectorizer, get_dataset
from src.main.pipeline.pipeline import Pipeline
import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/fabriziodecastelli/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
dataset = get_dataset(remove_target=True)[:10]
dataset

,headline,short_description
2,23 Of The Funniest Tweets About Cats And Dogs ...,"""Until you have a dog you don't understand wha..."
17,"Maury Wills, Base-Stealing Shortstop For Dodge...","Maury Wills, who helped the Los Angeles Dodger..."
20,Golden Globes Returning To NBC In January Afte...,"For the past 18 months, Hollywood has effectiv..."
21,Biden Says U.S. Forces Would Defend Taiwan If ...,President issues vow as tensions with China rise.
24,‘Beautiful And Sad At The Same Time’: Ukrainia...,An annual celebration took on a different feel...
26,"Las Vegas Aces Win First WNBA Title, Chelsea G...",Las Vegas never had a professional sports cham...
28,James Cameron Says He 'Clashed' With Studio Be...,"The ""Avatar"" director said aspects of his 2009..."
30,Biden Says Queen's Death Left 'Giant Hole' For...,"U.S. President Joe Biden, in London for the fu..."
39,Amazon Greenlights 'Blade Runner 2099' Limited...,The director of the original 1982 film joins a...
40,Bill To Help Afghans Who Escaped Taliban Faces...,Republican outrage over the shoddy U.S. withdr...

In [3]:
pipeline = Pipeline([clean_text, stop_words_removal, stemming, tfidf_vectorizer])
dataset = pipeline.execute(dataset)
dataset

[<function tfidf_vectorizer at 0x14b1e6ee0>]
[<function tfidf_vectorizer at 0x14b1e6ee0>]
Pipeline execution time:  0:00:02.450101

,headline,short_description
0,"(0, 1)\t0.31622776601683794\n (0, 2)\t0.316...","(0, 0)\t0.3779644730092272\n (0, 1)\t0.3779..."
1,"(0, 1)\t0.30151134457776363\n (0, 3)\t0.301...","(0, 1)\t0.23570226039551587\n (0, 4)\t0.235..."
2,"(0, 4)\t0.3779644730092272\n (0, 6)\t0.3779...","(0, 1)\t0.21320071635561041\n (0, 4)\t0.213..."
3,"(0, 4)\t0.35355339059327373\n (0, 1)\t0.353...","(0, 0)\t0.3779644730092272\n (0, 4)\t0.3779..."
4,"(0, 10)\t0.2773500981126146\n (0, 5)\t0.277...","(0, 1)\t0.2886751345948129\n (0, 2)\t0.2886..."
5,"(0, 5)\t0.30151134457776363\n (0, 6)\t0.301...","(0, 0)\t0.35355339059327373\n (0, 5)\t0.353..."
6,"(0, 5)\t0.30151134457776363\n (0, 1)\t0.301...","(0, 1)\t0.22941573387056174\n (0, 7)\t0.229..."
7,"(0, 5)\t0.30151134457776363\n (0, 9)\t0.301...","(0, 1)\t0.16666666666666666\n (0, 24)\t0.16..."
8,"(0, 9)\t0.30151134457776363\n (0, 7)\t0.301...","(0, 0)\t0.2773500981126146\n (0, 5)\t0.2773..."
9,"(0, 6)\t0.35355339059327373\n (0, 5)\t0.353...","(0, 0)\t0.2672612419124244\n (0, 4)\t0.2672..."